:root {
  --main: #ececec;
  --sec: darkred;
  --acc: #c67f7f;
}
* {
  font-family: "Rajdhani", sans-serif;
}
h1,
h2 {
  font-family: "Nova Square", cursive;
  color: var(--sec);
}
h1 {
  font-weight: 400;
  font-size: 100px;
  letter-spacing: 20px;
}
main {
  background-color: var(--main);
}
.nav-link {
  font-weight: 500;
}
.navbar {
  background-color: var(--main);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#header {
  background-image: linear-gradient(#ececec, #ececec00),
    url(../media/switzerland-862870_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header {
  margin-top: 13vh;
  font-size: 400%;
}
#overhead {
  left: 0;
  bottom: -140px;
}
#sub {
  font-size: 25px;
  font-weight: 500;
  color: darkslategray;
}
#sub::before {
  position: absolute;
  content: '"';
  font-size: 60px;
  font-weight: bold;
  top: -25px;
  left: 5px;
  color: var(--sec);
  rotate: 20deg;
}
#sub::after {
  position: absolute;
  content: '"';
  font-size: 60px;
  font-weight: bold;
  bottom: -25px;
  right: 210px;
  color: var(--sec);
  rotate: 200deg;
}
.fa-solid {
  color: var(--sec);
  font-size: 50px;
  margin-bottom: 15px;
}
.card {
  background: none;
  border: none;
  border-bottom: 4px solid var(--sec);
  border-radius: 0;
}
.dida {
  font-size: 17px;
  font-weight: 600;
  color: darkslategray;
}
.little {
  width: 20px;
  height: 20px;
  border: 4px solid var(--sec);
  border-radius: 50px;
  bottom: -12px;
  left: 148px;
  background-color: var(--main);
}
h2 {
  font-weight: 500;
  font-size: 40px;
}
#button {
  background-color: var(--sec);
  color: var(--main);
  width: 200px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.txt {
  font-size: 20px;
  font-weight: 600;
  color: var(--acc);
}
#oversec {
  left: 0;
  bottom: 0;
}
#tree {
  bottom: 0;
  left: 0;
  width: 100%;
}
.extra-margin {
  margin-top: 150px;
}
.margin-extra {
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 150px;
}
.vh-50 {
  height: 60vh;
}
h3 {
  color: var(--sec);
  font-weight: 600;
}
.listed {
  font-size: 22px;
  font-weight: 600;
}
.list {
  border-left: 4px solid darkred;
}
.dot {
  position: absolute;
  border: 3px solid darkred;
  background-color: white;
  border-radius: 50px;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
#overlist {
  bottom: 0;
  right: 0;
  width: 50%;
}
.p-icon {
  height: 150px;
  width: 150px;
  padding: 0.5rem;
  border-radius: 150px;
  border: 4px solid darkred;
}
h4 {
  color: var(--sec);
}
.profile {
  font-weight: 600;
}
.bi {
  color: var(--sec);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.fog {
  height: 220px;
  width: 220px;
  padding: 0.5rem;
  border-radius: 220px;
  border: 4px solid darkred;
  margin-left: 15vw;
}
footer {
  background-color: var(--sec);
}
.text-white {
  font-weight: 500;
}
